@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  font-family:  'Source Sans Pro', sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 0.5rem;
  background: #aaa;
}
html::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: #6e57d8;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}


/* header */

header {
  background: url('../img/Background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 795px;
}
.menu {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar a {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  opacity: .5;
  margin: 0 2.5rem;
  text-transform: uppercase;
}
.navbar a:hover,
.navbar a.active {
  opacity: 1;
}

.button {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}
.login {
  color: #fff;
  margin: 0 22px;
}
.login:hover {
  color: #250F8A;
}
.signup {
  width: 14rem;
  height: 3rem;
  padding: .8rem 4.4rem;
  border-radius: 2rem;
  background: #fff;
  color: #250F8A;
}
.signup:hover {
  background: none;
  border: 1px solid #250F8A;
  color: #fff;
}


#menu-icon {
  font-size: 5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

/* home */
.home {
  padding-top: 12rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.home-content h1 {
  font-size: 4.5rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 1rem;
}
.home-content p {
  font-size: 2.4rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 6rem;
}
.btn {
  padding: 1.3rem 4rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #250F8A;
  background: #FFCA00;
  border-radius: 2.5rem;
}
.btn:hover {
  opacity: .7;
}

/* service */
.service {
  padding-top: 6rem;
}
.title {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  color: #202020;
}
.service-wrap {
  padding-top: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 9rem;
}
.service-wrap .box {
  width: 28rem;
  height: 28rem;
}
.service-content h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #202020;
  margin-bottom: 1rem;
}
.service-content p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #272727;
}

/* work */
.work {
  background: #F4F9FD;
  padding: 5.5rem 0;
}

.work-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content h4 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #202020;
  margin-bottom: 1.5rem;
}
.content p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #272727;
}
.content p.text-1 {
  margin-bottom: 1.5rem;
} 
.content:nth-child(2) {
  margin-left: 6rem;
}

/* testimonials */
.testimonials {
  background: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 520px;
  padding: 3.5rem 0 7.5rem 0;
}
.testimonials .title {
  color: #fff;
}
.box-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4rem;
}
.box-container .box {
  width: 30rem;
  height: 26rem;
  background: rgba(255, 255, 255, 0.336);
  border-radius: .5rem;
}
.box-container .box .user {
  display: flex;
  align-items: center;
  padding: 3.5rem 2rem;
}
.box-container .box .user-img {
  margin-right: 2rem;
}
.user-text h5 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: .5rem;
}
.user-text p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  opacity: .5;
}
.box-icon {
  text-align: center;
}
.box-text {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}

footer {
  padding: 2rem 0;
}
.footer-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-box .legal a{
  font-size: 1.5rem;
  font-weight: 400;
  color: #272727;
  margin: 0 1rem;
}
.footer-box .legal a:hover {
  color: #202020;
}
.footer-box .copyright {
  font-size: 1.5rem;
  font-weight: 400;
  color: #272727;
}














/* media */
@media (max-width: 992px) {
  html {
    font-size: 55%;
  }
  .container {
    max-width: 960px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
  #menu-icon {
    display: initial;
  }
  .navbar {
    position: absolute;
    top: 0;
    left: -100%;
    background: #fff;
    width: 35rem;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .navbar.active {
    left: 0;
  }
  .navbar a {
    margin: 1rem 0;
    font-size: 3rem;
    color: #250F8A;
  }
  .button {
    font-size: 1.8rem;
  }
  .signup {
    padding: .4rem 1rem;
  }
  .home {
    padding-top: 6rem;
    padding-left: 1.5rem;
    flex-direction: column-reverse;
    align-items: center;
  }
  .home-content p {
    margin-bottom: 3rem;
  }
  .home-img {
    margin-bottom: 2rem;
  }
  .home-img img {
    width: 100%;
  }
  .box {
    margin: 1.5rem 0;
  }
  .service-wrap {
    padding-top: 4rem;
    flex-direction: column;
    align-items: center;
  }
  
  .work-wrap {
    flex-direction: column;
    align-items: center;
    margin: 0 0 1rem 0; 
  }
  .content {
    margin-bottom: 2rem;
  }
  .content:nth-child(2) {
    margin-left: 0;
  }
  .work-wrap:nth-child(2) {
    flex-direction: column-reverse;
  }
  .work-img img {
    width: 100%;
  }
  .box-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-box {
    flex-direction: column;
    align-items: center;
  }
  .footer-box .legal {
    margin-bottom: 1.5rem;
  }
  .footer-box .legal a,
  .footer-box .copyright {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
  .container {
    max-width: 540px;
  }
}